
/* CONTAINER BROWSE FILLES */
.st-emotion-cache-xwtqgq.e1b2p2ww15{
    border: solid #24eedd;

    box-shadow: #24eedd;
}

/* BOTÃO BROWSE FILLES */
.st-emotion-cache-hc3laj.ef3psqc12{
    box-shadow: #24eedd;
    border: solid #5801f8;
    border-radius: 15px;
    background-color: inherit;
    color: white;
    animation: aumentar 1.5s linear infinite;
    
}

.st-emotion-cache-hc3laj.ef3psqc12:hover{
    animation: mudarcor 2s linear infinite;
}

@keyframes aumentar{
    from, to{
        scale: 100%;
    }
    50%{
        scale: 110%;
    }
}


@keyframes mudarcor{
    from, to{
        border: solid #5801f8;
        scale: 100%;
        transform: rotateY(none);
    }

    25%{
        border: solid #013bf8;
        scale: 105%;
        transform: rotateY(45deg);
    }

    50%{
        border: solid #01d3f8;
        scale: 110%;
        transform: rotateY(90deg);
    }

    75%{
        border: solid #01f899;
        scale: 105%;
    }
}

.note{    
    color: white;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    padding: 5% 5% 5% 5%;
    font-weight: bold;
    
    /*Ajustou (2 linhas ao invez de 1)*/
    display: flex;
    flex-direction: column;


    text-align: center;
}

/* METRICS PERIODO */
.note:hover{
    color: black;
    background-image: linear-gradient(45deg, #97ccc8,#24eedd, #2174f1);   /*usado para criar um gradiente linear como imagem de fundo para um elemento.*/
    text-align: center;
    animation: conteiner_mudar_cor 2s linear infinite;
}

@keyframes conteiner_mudar_cor{
    from, to{
        scale: 100%;       
    }

    50%{
        scale: 105%;
    }
    
}

.note span.value{
    color: white;
    font-size: 30px;
    text-align: center;
}

.note span.value:hover{
    color: black;
}

.my_title{
    color: black;
    background-color: yellow;
    font-weight: bold;
    display: flex;
    text-align: center;
    flex-direction: column;

}


.meu_meu{
    background-color: yellow;

     text-align: center;       /*não tem efeito quando display: flex é definido. */
    
}

.meu_meu span{
    color: black;
    font-weight: bold;
}


.meu_meu span.com_valor{
    color: #013bf8;
}


/* Botão display canto superior direito */
.stDeployButton{
    visibility: hidden;
}
