
.note{    
    color: white;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    padding: 5% 5% 5% 5%;
    font-weight: bold;
    
    /*Ajustou (2 linhas ao invez de 1)*/
    display: flex;
    flex-direction: column;


    text-align: center;
}

.note:hover{
    color: black;
    background-image: linear-gradient(45deg, #97ccc8,#24eedd, #2174f1);   /*usado para criar um gradiente linear como imagem de fundo para um elemento.*/
    text-align: center;
}

.note span.value{
    color: white;
    font-size: 30px;
    text-align: center;
}

.note span.value:hover{
    color: black;
}

.my_title{
    color: black;
    background-color: yellow;
    font-weight: bold;
    display: flex;
    text-align: center;
    flex-direction: column;

}

